<div class="monitor-center">
    <div>
        <header class="text-center">
            <h1>タスク一覧</h1>
        </header>

        <div class="text-center mb-4">
            <%= link_to "新しくタスクを作成する", new_task_path, class: "btn btn-outline-success" %>
            <%= link_to "タグを作成する", new_tag_path, class: "btn btn-outline-secondary" %>
            <%= link_to "戻る", users_path, class: "btn btn-outline-primary" %>
        </div>

        <div class="task-list-box">
        <% @user.tags.each do |tag| %>
            <div class="tag-box">
                <div class="tag-button-box">
                    <a
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse-<%= tag.name %>"
                        aria-expanded="false"
                        aria-controls="collapse-<%= tag.name %>"
                    >
                        <div class="tag-outer-frame-box" style="border-color: <%= tag.color_code %>; background-color: <%= tag.color_code %>;"></div>
                        <p>
                            <%= tag.name %>
                            <span class="badge rounded-pill bg-danger">
                                <%= tag.tasks.length %>
                            </span>
                        </p>
                    </a>
                </div>
                <div style="min-height: 3rem;" class="mb-4">
                  <div class="collapse collapse-horizontal" id="collapse-<%= tag.name %>">
                    <div class="card card-body w-100">
                        <div class="tag-setting-box">
                            <%= link_to edit_tag_path(tag.id) do %>
                                <i class="bi bi-gear me-1"></i>設定画面へ
                            <% end %>
                        </div>
                        <div class="tag-description-box">
                            <h4>description</h4>
                            <p><%= tag.description %></p>
                        </div>
                        <ol>
                        <% tag.tasks.each do |task| %>
                            <li><%= link_to task.title, task_path(task.id) %></li>
                        <% end %>
                        </ol>
                    </div>
                  </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
