<h1 class="text-center my-4">タスク一覧</h1>

<div class="container-fluid">
    <div class="row text-center" style="gap: 1rem;">
        <%= link_to new_task_path, class: "btn btn-outline-success" do %>
            <i class="bi bi-plus me-2"></i>タスクの追加
        <% end %>
        <%= link_to new_tag_path, class: "btn btn-outline-primary" do %>
            <i class="bi bi-tag me-2"></i>タグの追加
        <% end %>
    </div>
    <div class="row text-center">
        <%= link_to users_path, class: "btn btn-outline-warning mt-4" do %>
            <i class="bi bi-house-door me-2"></i>ホームへ
        <% end %>
    </div>
</div>

<div class="task-list-box">
<% @user.tags.each do |tag| %>
    <div class="tag-box">
        <div class="tag-button-box">
            <a
                data-bs-toggle="collapse"
                data-bs-target="#collapse-<%= tag.name %>"
                aria-expanded="false"
                aria-controls="collapse-<%= tag.name %>"
                class="link-body-emphasis mt-4 mb-1"
            >
                <div class="tag-outer-frame-box" style="border-color: <%= tag.color_code %>; background-color: <%= tag.color_code %>;"></div>
                <p>
                    <%= tag.name %>
                    <span class="badge rounded-pill bg-danger">
                        <%= tag.tasks.length %>
                    </span>
                </p>
            </a>
        </div>
        <div class="mb-4">
          <div class="collapse" id="collapse-<%= tag.name %>">
            <div class="card card-body">
                <div class="text-center">
                    <%= link_to edit_tag_path(tag.id) do %>
                        <i class="bi bi-gear me-1"></i>設定画面
                    <% end %>
                </div>
                <div class="tag-description-box">
                    <h4>description</h4>
                    <p><%= tag.description %></p>
                </div>
                <ol>
                <% tag.tasks.each do |task| %>
                    <li><%= link_to task.title, task_path(task.id) %></li>
                <% end %>
                </ol>
            </div>
          </div>
        </div>
    </div>
<% end %>
</div>
