<header class="text-center">
    <h1>タスク一覧</h1>
    <p><%= @user.name %>さんのタスク数 : <%= @tasks.length %></p>
</header>

<div class="center-layout">
    <ol class="user-task-list my-4">
        <% @tasks.each do |task| %>
            <li><%= link_to task.title, task_path(task.id) %></li>
      <% end %>
    </ol>

    <div class="text-center mt-4">
        <%= link_to "新しくタスクを作成する", new_task_path, class: "btn btn-outline-success" %>
        <%= link_to "戻る", users_path, class: "btn btn-outline-primary" %>
    </div>
</div>
