<div class="container my-4 px-0">
    <div class="row align-items-center">
        <div class="col-md-3">
            <img src="<%= @user.icon.to_s %>" class="user-profile-icon">
        </div>
        <div class="col">
            <h1 class="mt-4 mb-0 pb-1 ps-3 profile-user-name"><%= @user.name %></h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row text-center" style="gap: 1rem;">
        <%= link_to 'タスクの表示', tasks_path, class: 'btn btn-outline-primary' %>
        <%= link_to 'ユーザ情報の変更', edit_user_registration_path, class: 'btn btn-outline-warning' %>
        <%=
            button_to 'ログアウト', 
            destroy_user_session_path,
            class: 'btn btn-warning',
            method: :delete
        %>
    </div>
</div>
