<!DOCTYPE html>
<html data-bs-theme="<%= @is_dark_mode ? 'dark' : 'light' %>">
  <head>
    <title>TimeSchedule</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex align-items-center justify-content-center" style="min-height: 100vh; max-width: 100vw; overflow-x: hidden;">
    <% if !@error_hash.nil? %>
    <div class="alert alert-<%= @error_hash["type"] %> alert-dismissible fade show" role="alert">
      <strong><%= @error_hash["title"] %></strong> <%= @error_hash["message"] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% end %>

    <%# devise専用のエラーメッセージ %>
    <% if !(defined? resource).nil? && resource.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>
        <%= I18n.t(
          "errors.messages.not_saved",
          count: resource.errors.count,
          resource: resource.class.model_name.human.downcase)
        %>
      </strong>
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% end %>

    <%# 各ページの要素 %>
    <div class="application-page mx-2">
      <%= yield %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
