<!DOCTYPE html>
<html data-bs-theme="<%= @is_dark_mode ? 'dark' : 'light' %>">
  <head>
    <title>TimeSchedule</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body class="d-flex align-items-center justify-content-center m-0 p-0" style="min-height: 100vh;min-height: 100dvh;">
    <% if !(defined? resource).nil? && resource.errors.any? %>
      <div class="alert alert-danger alert-dismissible fade show error-alert" role="alert">
        <strong>
          <%= I18n.t(
            "errors.messages.not_saved",
            count: resource.errors.count,
            resource: resource.class.model_name.human.downcase)
          %>
        </strong>
        <ul>
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <% if alert %>
    <div class="alert alert-danger alert-dismissible fade show error-alert" role="alert">
      <% if alert.class == Array %>
        <string>エラー</string>
        <% alert.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% else %>
        <%= alert %>
      <% end %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% end %>

    <% if notice %>
    <div class="alert alert-success alert-dismissible fade show success-alert" role="alert">
      <%= notice %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% end %>

    <%# 各ページの要素 %>
    <div class="application-page mx-2">
      <%= yield %>
    </div>
  </body>
</html>
